




<!DOCTYPE html>


    <head>
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <link rel="stylesheet" href="..\..\temps\site\assets\css\style.css"/>



    </head>
    
    <body>
        <header class="p-2 text-bg-dark">
          <div class="menudrop">
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                  Category
                </a>

                <ul class="dropdown-menu">
                  {%for category in categorys%}  
                  <li>
                      <a class="dropdown-item" href="{{url('category/'~category.id)}}">
                          <h5>{{category.title}}</h5>
                      </a>
                  </li>
                  {%endfor%}
                </ul>
            </div>   
          </div>








            <div class="container">
              <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="#" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                  <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                  <li><a href="{{url('home')}}" class="nav-link px-2 text-secondary">Home</a></li>

                  <li><a href="{{url('sobre')}}" class="nav-link px-2 text-white">About</a></li>
                  
                  <li><a href="{{url('contact')}}" class="nav-link px-2 text-white">Contact</a></li>
                </ul>


                <form action="{{url('search')}}" method="post" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                  <input type="search" name="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
                  <input class="btn btn-secondary" type="submit" >
                </form>

                <div class="text-end">
                  <button type="button" class="btn btn-outline-light me-2">Login</button>
                  <button type="button" class="btn btn-warning">Sign-up</button>
                </div>
              </div>
            </div>
        </header>
        
        <div class="panel1index">
            <div class ="row"> 
                {%for post in posts%}
                    <div class="col-md-3">
                        <div class="card mb-2">
                            <div class="card-body">
                                <a href="{{url('post/'~post.id)}}">
                                    <h1 class="card-title">{{post.title}}</h1>
                                    <p class="card-text">{{post.text}}</p>
                                </a>
                                    
                                
                                
                            </div>
                        </div>
                    </div>
                {%endfor%}
            </div>    
        </div>
        
        
        
        
        
        
        
        <footer class="footerfixer">
            <div class="footerpanel">
                <div class="footerlogo">

                </div>

            </div>
        </footer>
        
        <script src="temps\site\assets\js\scripts.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    </body>
    

