
<html>

<head>
  <title>Posts</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="..\..\..\temps\dashboard\assets\css\admpost.css" />
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>


    <body>
        <div class="container">
    <div class="navigation">
      <ul>
        <li>
          <a href="#">
            <span class="icon">
              <ion-icon name="walk-sharp"></ion-icon>
            </span>
            <span class="title">
              Gancho products.
            </span>
          </a>
        </li>

        <li>
          <a href="#">
            <span class="icon">
              <ion-icon name="home-sharp"></ion-icon>
            </span>
            <span class="title">
              Dashboard
            </span>
          </a>
        </li>

        <li>
          <a href="{{url('../../admin/posts/list')}}">
            <span class="icon">
              <ion-icon name="duplicate-sharp"></ion-icon>
            </span>
            <span class="title">
              Posts
            </span>
          </a>
        </li>
        
         <li>
          <a href="{{url('../../admin/categorys/list')}}">
            <span class="icon">
              <ion-icon name="list"></ion-icon>
            </span>
            <span class="title">
              Categories
            </span>
          </a>
        </li>

        <li>
          <a href="{{url('../../admin/help')}}">
            <span class="icon">
              <ion-icon name="help-circle-sharp"></ion-icon>
            </span>
            <span class="title">
              Help
            </span>
          </a>
        </li>

        <li>
          <a href="#">
            <span class="icon">
              <ion-icon name="settings-sharp"></ion-icon>
            </span>
            <span class="title">
              Settings
            </span>
          </a>
        </li>

        <li>
          <a href="#">
            <span class="icon">
              <ion-icon name="lock-closed-sharp"></ion-icon>
            </span>
            <span class="title">
              Password
            </span>
          </a>
        </li>

        <li>
          <a href="#">
            <span class="icon">
              <ion-icon name="log-out-sharp"></ion-icon>
            </span>
            <span class="title">
              Logout
            </span>
          </a>
        </li>

      </ul>
    </div>
  </div>




  <div class="main">

    <div class="topbar">

      <div class="toggle">
        <ion-icon name="menu"></ion-icon>
      </div>

      <div class="search">
        <label>
          <input type="text" placeholder="Search">
          <ion-icon name="search-circle-sharp"></ion-icon>
        </label>
      </div>

      <div class="user">
        <img src="..\..\..\temps\dashboard\assets\img\user1.png" alt="">
      </div>

    </div>

    

    <div class="details">
      <div class="recentPosts">
        <div class="cardHeader">
          <h2>Add new posts</h2>
        </div>
         
          <div class="wrapper">
              
            <form  action="{{url('../../admin/posts/form')}}" method="post">
                <h1>Register</h1>
                
                <div class="input-bx">
                    <label for="title">Title</label>
                    <br>
                    <input type="text" name="title" id="title" placeholder="Post title" required>
                    <i class='bx bxs-captions' ></i>
                </div>
                

                
                
                <div class="input-bx">
                    <label for="text">Text</label>
                    <br>
                    <textarea name="text" id="text" placeholder="Post text" required></textarea>
                    <i class='bx bx-text' ></i>
                </div>
                
                <div class="wrapper-select">
                        <div class="input-bx">
                            <label for="status">Status</label>
                            <br>
                            <select name="status" id="staus">
                                <option value="1">Submit as posted</option>
                                <option value="0">Submit as queued</option>
                            </select>
                        </div>
                    
                        <div class="input-bx">
                            <label for="category_id">Category</label>
                            <br>

                            <select name="category_id" id="category_id">
                            {% for category in list %}
                                <option value="{{category.id}}">{{category.title}}</option>
                            {% endfor %}

                            </select>
                        </div>
                    
                </div>     
                <br>

                <div class="input-bx">
                    <input type="submit" value="Submit" id="submit">
                </div>

            </form>  
              
          </div> 
          
          
      </div>

      
    </div>

    

  </div>




  <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <script src="..\..\..\temps\dashboard\assets\js\adminscripts.js"></script>
    </body>
</html>
